<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.wao.model.dao.PartyDao">
    <resultMap id="PartyDtoMap" type="PartyDto">
        <id property="partyNo" column="no_party" />
        <result property="name" column="name"/>
        <result property="sports" column="sports"/>
        <result property="content" column="content"/>
        <result property="imgPath" column="img_path"/>
        <result property="imgName" column="img_name"/>
        <result property="sizeLimit" column="size_limit"/>
        <result property="userNo" column="fk-users-parties-no_user"/>
    </resultMap>
    <resultMap id="UserDtoMap" type="UserDto">
        <id property="userNo" column="no_user" />
        <result property="userId" column="user_id"/>
        <result property="nickname" column="nickname"/>
        <result property="region" column="region"/>
        <result property="gender" column="gender"/>
        <result property="age" column="age"/>
        <result property="isAuthorized" column="is_authorized"/>
        <result property="imgPath" column="img_path"/>
        <result property="imgName" column="img_name"/>
    </resultMap>
    <resultMap id="EventDtoMap" type="EventDto">
        <id property="eventNo" column="no_event"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="partyNo" column="fk-parties-events-no_parties"/>
    </resultMap>

    <insert id="makeParty" parameterType="PartyDto" useGeneratedKeys="true" keyProperty="no_party">
        INSERT INTO `wao_db`.`Parties`
        (`name`, `sports`, `region`, `content`, `img_path`, `img_name`, `size_limit`, `fk-users-parties-no_user`)
        VALUES
        (#{name}, #{sports}, #{region}, #{content}, #{imgPath}, #{imgName}, #{sizeLimit}, #{userNo})
    </insert>

    <insert id="insertPartyMember" parameterType="PartyDto">
        <!-- isAccepted = 같이 넣어 줘야함. -->
        INSERT INTO `wao_db`.`Users_Parties`
        (`fk-users_parties-no_party`, `fk-users_parties-no_user`, `is_accepted`, `invited_date`, `accepted_date`)
        VALUES
        (`partyNo`, `userNo`, `isAccepted`, `invitedDate`, `acceptedDate`)
    </insert>

    <!--  1개 파티 조회  -->
    <select id="selectParty" parameterType="int" resultMap="PartyDtoMap">
        SELECT `no_party`, `name`, `sports`, `region`, `content`, `img_path`, `img_name`, `size_limit`, `fk-users-parties-no_user`
        FROM `wao_db`.`Parties` p
        WHERE p.no_party = #{partyNo}
    </select>
    <!--  전체 파티 조회  -->
    <select id="selectEntireParty" resultMap="PartyDtoMap">
        SELECT `no_party` `name`, `sports`, `region`, `content`, `img_path`, `img_name`, `size_limit`, `fk-users-parties-no_user`
        FROM `wao_db`.`Parties`
    </select>

    <!-- 파티 멤버 전체 조회 -->
    <select id="selectMembers" parameterType="int" resultMap="UserDtoMap">
        SELECT `user_id`, `nickname`, `region`, `gender`, `age`, `content`, `is_authorized`, `img_path`, `img_name`
        FROM
        (SELECT `fk-users_parties-no_user` as `no_user`, `fk-users_parties-no_party` as `no_party`, `is_accepted`
        FROM `wao_db`.`USERS_Parties` up LEFT JOIN `wao_db`.`parties` p
        ON up.`fk-users_parties-no_party` = p.`no_party`
        WHERE p.`no_party` = #{no_party} AND `is_accepted` = 1) members LEFT JOIN `wao_db`.`Users` u
        ON members.`no_user` = u.`no_user`
    </select>

    <!-- 파티 멤버 신청자 전체 조회 -->
    <select id="selectApplicants" parameterType="int" resultMap="UserDtoMap">
        SELECT `user_id`, `nickname`, `region`, `gender`, `age`, `content`, `is_authorized`, `img_path`, `img_name`
        FROM
        (SELECT `fk-users_parties-no_user` as `no_user`, `fk-users_parties-no_party` as `no_party`
        FROM `wao_db`.`USERS_Parties` up LEFT JOIN `wao_db`.`parties` p
        ON up.`fk-users_parties-no_party` = p.`no_party`
        WHERE p.`no_party` = #{no_party} AND `is_accepted` = 0) members LEFT JOIN `wao_db`.`Users` u
        ON members.`no_user` = u.`no_user`
    </select>

    <!-- 파티 리더 조회 -->
    <select id="selectLeader" parameterType="int" resultType="UserDto">
        SELECT u.`user_id`, u.`nickname`, u.`region`, u.`gender`, u.`age`, u.`content`, u.`is_authorized`, u.`img_path`, u.`img_name`
        FROM `wao_db`.`parties` p LEFT JOIN `wao_db`.`USERS` u
        ON p.`fk-users-parties-no_user` = u.`no_user`
        WHERE p.`no_party` = #{no_party};
    </select>

    <!-- 파티 이벤트 전체 조회 -->
    <select id="selectAllEvents">

    </select>

</mapper>