<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.wao.model.dao.UserDao">
    <resultMap id="UserDtoMap" type="UserDto">
        <id property="userNo" column="no_user" />
        <result property="userId" column="user_id"/>
        <result property="nickname" column="nickname"/>
        <result property="region" column="region"/>
        <result property="gender" column="gender"/>
        <result property="age" column="age"/>
        <result property="isAuthorized" column="is_authorized"/>
        <result property="imgPath" column="img_path"/>
        <result property="imgName" column="img_name"/>
        <result property="partyName" column="partyName"/>
        <result property="partyNo" column="no_party"/>
    </resultMap>
    <resultMap id="PartyDtoMap" type="PartyDto">
        <id property="partyNo" column="no_party" />
        <result property="name" column="name"/>
        <result property="sports" column="sports"/>
        <result property="content" column="content"/>
        <result property="imgPath" column="img_path"/>
        <result property="imgName" column="img_name"/>
        <result property="sizeLimit" column="size_limit"/>
        <result property="sizeCurrent" column="size_current"/>
        <result property="userNo" column="fk-users-parties-no_user"/>
    </resultMap>

    <!-- 회원가입 -->
    <insert id="signup" parameterType="UserDto">
        INSERT INTO `wao_db`.`USERS`
        (`user_id`, `password`, `nickname`, `region`, `gender`, `age`, `content`, `is_authorized`, `img_path`, `img_name`)
        VALUES
        (#{userId}, #{password}, #{nickname}, #{region}, #{gender}, #{age}, #{content}, #{isAuthorized}, #{imgPath}, #{imgName})
    </insert>

    <!-- 로그인 -->
    <select id="login" parameterType="UserDto" resultMap="UserDtoMap">
        SELECT `no_user`, `user_id`, `nickname`, `region`
        FROM `wao_db`.`USERS` u
        WHERE u.user_id = #{userId} AND u.password = #{password}
    </select>

    <!-- 유저 선택 -->
    <select id="selectUser" parameterType="int" resultMap="UserDtoMap">
        SELECT `no_user`, `user_id`, `nickname`, `region`, `gender`, `age`, `content`, `is_authorized`, `img_path`, `img_name`
        FROM `wao_db`.`USERS` u
        WHERE u.`no_user` = #{userNo}
    </select>

    <!-- 유저 수정 -->
    <update id="modifyUser" parameterType="UserDto">
        UPDATE `wao_db`.`USERS`
        SET
        user_id = #{userId},
        password = #{password},
        nickname = #{nickname},
        region = #{region},
        gender = #{gender},
        age = #{age},
        content = #{content},
        `img_path` = #{imgPath},
        `img_name` = #{imgName}
        WHERE no_user = #{userNo}
    </update>

    <!-- 소개글 수정 -->
    <update id="modifyUserContent" parameterType="UserDto">
        UPDATE `wao_db`.`USERS`
        SET content = #{content}
        WHERE no_user = #{userNo}
    </update>

    <!-- 유저 프로필 이미지 수정 -->
    <update id="modifyUserImg" parameterType="UserDto">
        UPDATE `wao_db`.`USERS`
        SET img_path = #{imgPath}, img_name = #{imgName}
        WHERE no_user = #{userNo}
    </update>

    <!-- 지역 수정 -->
    <update id="modifyUserRegion" parameterType="UserDto">
        UPDATE `wao_db`.`USERS`
        SET region = #{region}
        WHERE no_user = #{userNo}
    </update>

    <!-- 인증 여부 초기화 -->
    <update id="unauthorize" parameterType="UserDto">
        UPDATE `wao_db`.`USERS`
        SET is_authorized = 0
        WHERE no_user = #{userNo}
    </update>

    <!-- 동네 인증 -->
    <update id="authorize" parameterType="UserDto">
        UPDATE `wao_db`.`USERS`
        SET is_authorized = 1
        WHERE no_user = #{userNo} AND region = #{region}
    </update>

    <!-- 유저가 속한 파티 찾아오기 3개 조인해야 할 듯.-->
    <select id="selectUserParties" parameterType="int" resultMap="PartyDtoMap">
        SELECT * FROM
        (SELECT `fk-users_parties-no_user` as `no_user`, `fk-users_parties-no_party` as `no_party`
        FROM `wao_db`.`Users_Parties` up LEFT JOIN `wao_db`.`Users` u
        ON up.`fk-users_parties-no_user` = u.`no_user`
        WHERE u.`no_user` = #{userNo} AND is_accepted = 1) myparty LEFT JOIN `wao_db`.`Parties` p
        ON myparty.`no_party` = p.`no_party`;
    </select>

    <select id="selectUserApplies" parameterType="String" resultMap="PartyDtoMap">
        SELECT * FROM
        (SELECT `fk-users_parties-no_user` as `no_user`, `fk-users_parties-no_party` as `no_party`
        FROM `wao_db`.`Users_Parties` up LEFT JOIN `wao_db`.`Users` u
        ON up.`fk-users_parties-no_user` = u.`no_user`
        WHERE u.`nickname` = #{nickname} AND is_accepted = 0) myparty LEFT JOIN `wao_db`.`Parties` p
        ON myparty.`no_party` = p.`no_party`;
    </select>

    <select id="validateUserInfo" parameterType="UserDto" resultMap="UserDtoMap">
        SELECT * FROM `wao_db`.`Users` u
        WHERE u.`user_id` = #{userId} OR u.`nickname` = #{nickname}
    </select>

    <select id="isAuthorized" parameterType="int">
        SELECT is_authorized as isAuthorized
        FROM `wao_db`.`Users` u
        WHERE u.`no_user` = #{userNo}
    </select>
</mapper>